<div class="card bg-light">
<h5 class="card-title p-5 text-center fs-1 fw-bold text-primary">About Us</h5>
  <div class="card-body text-center fs-3 text-info">
    My Contact is Web App  created in Ruby and Rails.
  </div>
</div>